<nav class="navbar navbar-dark bg-dark navbar-expand-lg d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Logo4Share2blanc.png" style="width: 90px">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>
      <ul class="navbar-nav justify-content-end">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link text-info" routerLink="" (click)="modalLogin()">Connexion</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link text-info" routerLink="/myfiles">Mes Shares</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="logo" class="img_profile">
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right">
            <a class="dropdown-item" routerLink="/profil">Profil</a>
            <a class="dropdown-item" routerLink="/logout">Déconnexion</a>
          </div>
        </li>
        <!-- <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link" routerLink="" (click)="logout()">Déconnexion</a>
        </li> -->
      </ul>
    </div>
  </div>

</nav>
