<div class="title"><h1>Mes fichiers</h1></div>
<!-- Button trigger modal -->
<div class="add-file">
  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
    <fa-icon [icon]="faPlus"></fa-icon>Ajouter un/des fichier(s)
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un/des fichiers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpload()">
          <label class="btn btn-default">
            <input type="file" multiple (change)="selectFiles($event.target.files)" required/>
            <input type="submit" class="btn btn-info" value="Upload"> <!--data-dismiss="modal"-->
          </label>
        </form>
      </div>
      <!-- <div *ngIf="uploaded">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom du fichier</th>
              <th scope="col">Visible pour tous</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of filesUploaded">
              <td>{{ file.filename }}</td>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" [value]="">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<div *ngIf="uploaded" class="card" style="width: 18rem;">
  <div class="card-body">
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="card-title">Fichier(s) Uploader</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <!-- <span>test1</span> -->
    <div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" [ngStyle]="{ width: progress + '%'}" attr.aria-valuenow={{progress}} aria-valuemin="0" aria-valuemax="100">
          {{ progress }}%
        </div>
      </div>
      <div *ngIf="progress==100">upload réussi</div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{ error }} <br>215Mo maximum
      </div>
    </div>
    
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

<div class="table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom du fichier</th>
        <th scope="col" class="center">Télécharger</th>
        <th scope="col" class="center">Taille</th>
        <th scope="col" class="center">Ajouté le</th>
        <th scope="col" class="center">Visibilité public</th>
        <th scope="col" class="center">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of listFiles">
        <td>{{ file.filename }}</td>
        <td class="center">
          <a class="btn btn-info" (click)="downloadFile(file.id)" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </a>
        </td>
        <td class="center">{{ converterSize(file.size) }} Ko</td>
        <td class="center">{{ file.dateAdded }}</td>
        <td class="center">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id={{file.id}} name={{file}} [(ngModel)]="file.visibilityPublic" (change)="switchPublic($event)">
            <label class="custom-control-label" for={{file.id}}></label>
          </div>
        </td>
        <td class="center">
          <button class="btn btn-danger" (click)="deleteFile(file)" title="Supprimer"><fa-icon [icon]="faTrash"></fa-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

