
footer {
    bottom: 0;
    background-color: #efefef;
    width: 100%;
    /* position:absolute; */
    height: 60px;
    /* line-height: 60px; */
    margin-top: 25px;
}


/* body > .container {
    padding-top: 60px;
}  */

/* footer{

    background:#ccc;
    
    position:absolute;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:50px;
    
} */