<nav class="navbar navbar-dark bg-dark navbar-expand-md justify-content-center">
      <a class="navbar-brand d-flex w-50 mr-auto" href="#">
        <img src="assets/images/Logo4Share2blanc.png" style="width: 90px">
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100" id="navbarNavAltMarkup">
        <ul *ngIf="loggedIn()" class="navbar-nav w-100 justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-info" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-info" role="button" routerLink="/profil">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-info" routerLink="/myfiles">Mes Shares</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link text-info" routerLink="" (click)="modalLogin()">Connexion</a>
          </li>
          <li *ngIf="loggedIn()" class="nav-item">
            <a class="nav-link text-info" routerLink="/logout">Déconnexion <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="logo" class="img_profile" style="width: 35px"></a>
          </li>
        </ul>
      </div>
  </nav>
  