
<!-- <form class="form-inline my-2 my-lg-0">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
      aria-label="Search">
</form> -->
<nav class="navbar navbar-light d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0" #keyword="ngForm" (ngSubmit)="submitSearch(keyword)">
      <div class="input-group">
        <input class="form-control form-inline" name="words" type="text" placeholder="Rechercher"
          aria-label="Search" ngModel>
        <div class="input-group-append">
          <button type="submit" class="btn btn-info"><fa-icon [icon]="faSearch"></fa-icon></button>
        </div>
        
      </div>
        
    </form>
</nav>